# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Dados locais (não subir datasets grandes para o GitHub)
data/raw/
*.csv
*.parquet
